// Fonts
$nexa: 'nexa', serif;
$BNPP: 'BNPP Sans';
$BNPP-light: 'BNPP Sans Light';
$BNPP-bold: 'BNPP Sans Bold';
$BNPP-cond-bold: 'BNPP Cond Bold';
$arial: 'Arial';

// Image
$imagePath: '../assets/images';

// global layout
$container-layout: 96rem !default;
$margin-layout: 2.4rem !default;

// global spacings
$double-extra-small-value: 0.3rem !default;
$extra-small-value: 0.6rem !default;
$small-value: 1.2rem !default;
$medium-value: 2.4rem !default;
$medium-large-value: 3.6rem !default;
$large-value: 4.8rem !default;
$extra-large-value: 7.2rem !default;

// global font sizes
$base-font-size         : 1.5rem !default;
$line-height            : 1.6 !default;
$h1-size                : 6.4rem !default;
$h2-size                : 3.9rem !default;
$h3-size                : 2.4rem !default;
$h4-size                : 1.9rem !default;
$h5-size                : 1.7rem !default;
$h6-size                : 1.5rem !default;
$large-size             : 1.7rem !default;
$small-size             : 1.2rem !default;
$label-size             : 1.5rem !default;
$field-size             : 1.5rem !default;
$btn-size               : 1.5rem !default;

.has-error svg,
.has-error label {
  fill: red !important;
  color: red !important;
}