<!DOCTYPE html>
<html lang="fr">
<head>
	<title>Youkiz</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<meta charset="UTF-8">
	<link rel="icon" href="https://www.youtube.com/yts/img/favicon_48-vflVjB_Qk.png">
</head>
<body id="bodyRoot">
	<div id="root" ref="root" class="app-root"></div>
</body>
</html>